/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.full-bg {
  height: 100vh;
  width: 100vw;
  background-image: url('../images/bg.png');
}

#striked {
  opacity: 0.4;
  text-decoration: line-through;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.row.mid {
  max-width: 100%;
}

.col-md-4 {
  text-align: center;
  height: 33vh;
}

.bg1, .bg2, .bg3, .bg4, .bg5, .bg6, .bg7 {
  opacity: 0.7;
}

.bg1:hover, .bg2:hover, .bg3:hover, .bg4:hover, .bg5:hover, .bg6:hover, .bg7:hover {
  opacity: 1;
}

.bg {
  background-image: url('../images/bg.png');
  opacity: 0.4;
}

.title {
  font-family: 'Indie Flower', cursive;
  font-size: 5rem;
  margin-top: 10px;  
}