/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(http://themes.googleusercontent.com/static/fonts/pacifico/v5/yunJt0R8tCvMyj_V4xSjafesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

#striked {
  opacity: 0.4;
  text-decoration: line-through;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}

.row.mid {
  max-width: 100%;
}

.col-md-4 {
  text-align: center;
  height: 33vh;
}

.bg1, .bg2, .bg3, .bg4, .bg5, .bg6, .bg7 {
  opacity: 0.7;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border-radius: 5px;
}

.bg1:hover, .bg2:hover, .bg3:hover, .bg4:hover, .bg5:hover, .bg6:hover, .bg7:hover {
  opacity: 1;
  text-decoration: none;
}

.bg {
  background-image: url('../images/bg.png');
  opacity: 0.6;
}

.title {
  font-size: 6rem;
  color: #fff569;
  font-family:Pacifico;
  text-shadow: 2px 2px #3d3b3b;
}

.bottom-divs {
  border-radius: 5px;
}

#sunday {
  color: #ff6f4f;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.description {
  margin-top: 20px;
  font-family: 'Rosario', sans-serif;
  font-size: 1.7rem;
  color: #2a2d30;
  line-height: 2.2rem;
  text-shadow: 1px 1px #d4d4d4;
}

@media (max-width: 767px) {
  .bottom-divs {
    display: none;
  }
}

.col-md-3.stickies {
  padding-left: 0px;
  padding-right: 0px; 
  height: 300px;
}
