// Place all the styles related to the days controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-wrap {
  height: 95%;
  width: 95%;
  margin: 10px auto;
  border-radius: 5px;
}
