// Place all the styles related to the days controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin vertical-align {
  position: relative;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.main-wrap {
  height: 90%;
  width: 90%;
  margin: 30px auto 30px;
  border-radius: 15px;
  position: relative;
}

body {
  background-image: url('../images/bg.png');
}

.form {
  text-align: center;
}

.back-button {
  position: absolute;
  margin-top: 2.6%;
  margin-left: 2%;
  color: #3c4145;
  opacity: 0.8;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;  
}

.back-button:hover {
  opacity: 1;
}

.sticky_notes {
  width: 90%;
  height: 76%;
  background: #ffc;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;

  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}

.sticky_notes p {
  padding-left: 12px;  
  padding-right: 12px;
  @include vertical-align;
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size: 6rem;
  line-height: 4.8rem;
}

.col-md-3 {
  height: 35rem;
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
}

.day_tasks_wrapper {
  margin: 15px;
}

.options {
  text-align: center;
  height: 22%;
  padding-top: 2%;
}

.finished, .delete {
  color: #3c4145;
  opacity: 0.6;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;  
}

.finished:hover {
  opacity: 1;
  color: #69814b;
}

.delete:hover {
  opacity: 1;
  color: #a35257;
}

// Mobile Responsive

@media (max-width: 767px) {
  .back-button {
    margin-top: 0.5%;
    margin-left: 1.5%
  }

  .sub-main-wrap {
    padding-top: 4%;
  }

  .day_tasks_wrapper {
    margin-top: 50px;
  }
}