= simple_form_for([@day, @day.day_tasks.build]) do |f|
  .form-group
    %div.field
      = f.text_field :task, :placeholder => "Please type your task here, and hit (Enter)", :class => "form-control"
    %div.actions
      = f.button :submit, "Submit", id: "btn", :class => ["btn btn-default", "submit"]